.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 50px;
    
}
.about-image{
    width: 70%;
}
.about-image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.about-content {
   width: 100%;
}

.about-content h2 {
    font-size: 28px;
    color: #d90000;
    font-weight: bold;
}

.highlight {
    color:#d90000;
}

.about-content p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin: 10px 0;
}

.read-more {
    background-color: #ff6600;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.read-more:hover {
    background-color: #cc5200;
}



@media (max-width: 900px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-content {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .about-title {
        font-size: 24px;
    }

    .about-description {
        font-size: 14px;
    }

    .about-image img {
        max-width: 100%;
    }
}